
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightblue;
    }

    ::selection {
        color: #fff;
        background: #1da1f2;
    }

    .light {
        margin-top: 20px;
        text-align: center;
    }

    .container {
        background-color:lightcyan;
        max-width: 475px;
        width: 100%;
        border-radius: 15px;
        padding: 25px 25px 15px 25px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }
    .container1 {
        background-color:lightcyan;
        width: 100%;
        max-width: 100%;
        border-radius: 15px;
        padding: 25px 25px 15px 25px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }
  .form-row{
      align-items: center;
  }
    .input-box {
        
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e6e6e6;
    }

    .text-area{
        
        border-radius: 15px;
        margin-top: -3px;
        font-size: 22px;
        /* color: #98A5B1; */
        max-width: 100%;
        max-height: 100px;
    }

    button{
        margin-left: 50px;
    }
    
    .line .fa-camera {
        margin-left: 10px;
    }

    .line .fa-map-marker-alt {
        margin-left: 15px;
    }

    .black{
        padding: 4px;
        border: 1px solid black;
        margin: 10px;
        max-width: 40%;
        align-items: center;
    }

    .edit{
        margin-right: 5px;
        width: 10%;
    }

    .remove{
        margin-right: 5px;
        width: 15%;
    }
    .row{
        padding-top: 20px;
       width: 100%;
        
    }
/*.card{

    width: 50%;

}*/
.special{
    
    margin-right: 1000px;
    margin-left: 0px;
}



.empty {                     /*   OK */ 
    margin-left: 20%;
}           
.Two{                         /*   OK */         
        margin-left: 200px;
        margin-top : 50px;

}
.card-text{                  /*   OK */ 
    text-align: center;

}
.btn-primary{               /*   OK */ 
    margin-left: 10px;
}
.save{
    display : none;

}
.lala{
    display : none;
}